sm()
	@media (min-width 640px) {block}
md()
	@media (min-width 768px) {block}
lg()
	@media (min-width 1024px) {block}
xl()
	@media (min-width 1280px) {block}
xl2()
	@media (min-width 1536px) {block}
-sm()
	@media (max-width 639px) {block}
-md()
	@media (max-width 767px) {block}
-lg()
	@media (max-width 1023px) {block}
-xl()
	@media (max-width 1279px) {block}
-xl2()
	@media (max-width 1535px) {block}
lightTheme()
	@media (prefers-color-scheme light) {block}
